[submodule "nvim"]
	path = nvim
	url = https://github.com/Dodilanne/init.lua
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
