(
  selection_bg: Some(Rgb(178, 178, 178)),
  cmdbar_bg: Some(Rgb(178, 178, 178)),
  cmdbar_extra_lines_bg: Some(Rgb(178, 178, 178)),
  push_gauge_bg: Some(Rgb(178, 178, 178)),

  selection_fg: Some(Rgb(0, 0, 0)),
  command_fg: Some(Rgb(0, 0, 0)),
  push_gauge_fg: Some(Rgb(0, 0, 0)),
  disabled_fg: Some(Rgb(100, 100, 100)),
)
